.hero{
    text-align: center;
    background-color: #f0634d;
    color:white;
    font-size:40px;
    display:none;
}
@media (max-width:400px){
    #box1{
        background-color:blue;
        display:block;
    }
}
@media (min-width: 401px) and (max-width:600px){
    #box2{
        
        background-color:green;
        display:block;
    }
}
@media (min-width:601px) and (max-width:800px){
    #box3{
        display:block;
        background-color:pink;
    }
}